.draftLeft{
    color: blue;
    font-weight: bold;
    text-align: left;
}

.draftRight{
    color: green;
    font-weight: bold;
    text-align: right;
    }

.draftCenter {
    color: red;
    font-weight: bold;
    text-align: center;
}