.Resume6_Container {
    text-align: justify;
    width: 100%;
    height: 100%;
    font-size: 8.1px;
    font-weight: 500;
    background-color: white;
    .row1{
      display: flex;
      background-color: #46AAC4;
      color: white;
      margin-bottom: 15px;
      align-items: center;
      height: 90px;
      padding-left: 20px;
      padding-right: 25px;
      justify-content: space-between;
      .social_image{
        width: 20px;
        height: 18px;
        margin-right: 15px;
      }
      .social_container{
        display: flex;
        align-items: center;
        height: 20px;
      }
      h1{
        font-size: 1.4rem;
        font-weight: 300;
        margin-left: -40px;
      }
      .user_image{
        height: 90px;
      }
      p{
        font-size: 6px;
      }
    }
    .row2{
      display: flex;
      padding-bottom: 20px;
      h2, h3, ul li::before{
        color: #46AAC4;
      }
      h2{
        margin: 7px 0;
        font-size: .5rem;
      }
      ul {
        padding-left: 0;
        list-style: none; 
      }
      ul li::before{
        content: "\2022";
        font-weight: bold;
        font-size: .8rem;
        margin-right: 10px;
        margin-top: -5px;
      }
      .extra{
        li:last-child{
          margin-bottom: 0;
        }
        margin-bottom: -5px;
  
      }
      h3{
        margin-bottom: 0;
      }
      li{
        margin: 5px 0 ;
        display: flex;
        align-items: center;
        line-height: .7rem;
      }
      p{
        line-height: .8rem;
      }
      .c1, .c2{
        display: flex;
        flex-direction: column;
        height: 480px;
        padding: 0 15px;
        div:first-child{
          h2{
            margin-top: -5px;
          }
        }
        .bold{
          font-weight: bold;
        }
      }
      .flex{
        display: flex;
        justify-content: space-between;
      }
      .image{
        height: 20px;
        margin-right: 20px;
      }
      .technical_items{
        display: flex;
        align-items: center;
      }
      .c1{
        border-right: 2px solid #46AAC4;
        width: 150px !important;
      }
      .c2{
          width: 300px;
      }
    }
    .course_container{

        p{
            margin: 3px 0;
        }
    }
    .SkillBar{
        background-color: rgb(183, 221, 233);
        width: 100%;
        height: 15px;
        font-size: 6px;
        color: white;
        p{
            background-color: #46AAC4;
            height: 100%;
            display: flex;
            padding: 0 2px;
            text-align: left;
            line-height: 1em;
            align-items: center;
            text-transform: uppercase;
        }
    }
    .c2_containers{
      margin-right: 20px;
    }
}